html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h3, h4 {
    margin: 0;
}

button {
    height: 35px;
    width: 100%;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
}

nav {
    width: 100%;
    height: 70px;
    background-color: rgb(43, 43, 43);
    color: white;
}

nav p {
    display: flex;
    align-items: center;
    font-weight: 100;
    margin: 0 0 0 100px;
    height: 100%;
    font-size: 20px;
}

main {
    display: grid;
    grid-template-areas: 
        "user work select"
        "selected selected selected";

    grid-template-columns: 1fr 1fr 1fr;

    margin: 30px auto; 
    width: 775px;
    gap: 30px;
}

.box {
    background-color: rgb(247, 247, 247);
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}

.buttonBox {
    margin-top: auto;
    display: flex;
    gap: 10px;
}

.user {    
    grid-area: user;
}

.user button {    
    background-color: rgb(64, 224, 117);
    margin-top: auto;
}

.work {
    grid-area: work;
}

.work button:first-child {    
    background-color: rgb(222, 252, 142);
}
.work button:last-child {    
    background-color: rgb(66, 101, 255);
    color: white;
}

.select {
    grid-area: select;
}

.select select {
    height: 30px;
    border-radius: 5px;
}

.selected {
    grid-area: selected;
    flex-direction: row;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    gap: 20px;
}

.selected img {
    width: 200px;
}

.selected .cta {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.selected .cta button {
    width: 80%;
    background-color: rgb(78, 185, 218);
}